<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departure %>
    <%= form.select :adep_id, Airport.all.collect { |p| [p.icao, p.id] }, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.select :ades_id, Airport.all.collect { |p| [p.icao, p.id] }, include_blank: true %>
  </div>
  <div class="field">
    <%= form.label :route %>
    <%= form.text_field :route %>
  </div>

  <div class="field">
    <%= form.label :eobt %>
    <%= form.datetime_select :eobt %>
  </div>

  <div class="field">
    <%= form.label :ctot %>
    <%= form.datetime_select :ctot %>
  </div>

  <div class="field">
    <%= form.collection_select :event_id, Event.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
